@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");


.cursive {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 550;
  text-transform: uppercase;
  
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name {
  font-size: 150px;
}

.icon {
  transition: transform .2s;
}

.icon:hover {
  transform: scale(1.5);
}

b {
  font-weight: 550;
}

.greet {
  margin-top: -150px;
}

.navbar {
  height: 80px;
}

.container {
  margin-top: -25px;
}
/* .greet:hover h1 {
  display: none;
}

.greet.eng:hover:before {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 550;
  text-transform: uppercase;
  content: "انا تشارلي"
}

.greet.nvh:hover:before {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 550;
  text-transform: uppercase;
  content: "私はチャーリーです"
}

.greet.tgl:hover:before {
  font-family: 'Reenie Beanie', cursive;
  font-weight: 550;
  text-transform: uppercase;
  content: "나는 찰리"
} */